// Змінні
$primary-bg-color: aliceblue;
$primary-text-color: #fff;
$secondary-bg-color: #252a4f;
$accent-color: #a44b18;
$btn-bg-color: #613115;
$font-family: "Reddit Sans Condensed", sans-serif;
$box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);

@mixin transition($property, $duration: 0.1s) {
  transition: $property $duration;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  font-optical-sizing: auto;
  color: black;
}

body {
  background-color: $primary-bg-color;
  color: $primary-text-color;
}

.empty {
  width: 50%;
}

.logo-container {
  text-align: center;
  width: 25%;
}

.search-container {
  width: 25%;
}

.logo {
  margin: 20px 0;
  width: 100px;
}

.search-bar {
  background-color: $secondary-bg-color;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  margin: 10px 40px;
  box-shadow: $box-shadow;
}

.search-input {
  background-color: inherit;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: $primary-bg-color;
}

.btn-search {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: $btn-bg-color;
  border-radius: 5px;
  @include transition(all);

  &:hover {
    background-color: $accent-color;
  }
}

.search-icon {
  width: 20px;
  filter: invert(1);
}

.navigation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0px 40px 15px;
  background-color: $secondary-bg-color;
  border-radius: 10px;
  box-shadow: $box-shadow;

  a {
    text-decoration: none;
    color: $primary-bg-color;
    @include transition(all);

    &:hover {
      color: $accent-color;
    }
  }
}

.sidebar-nav-container,
.sidebar-info-container {
  width: 25%;
}

.main-container {
  width: 50%;
}

.sidebar {
  height: 500px;
  background-color: $secondary-bg-color;
  border-radius: 10px;
  margin: 5px 40px;
  box-shadow: $box-shadow;

  a {
    text-decoration: none;
    color: $primary-bg-color;
    @include transition(all);

    &:hover {
      color: $accent-color;
    }
  }

  ul {
    list-style: none;
    padding: 25px 40px;

    li {
      margin: 15px 0;
    }
  }
}

.main-content,
.extra-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 5px;
  background-color: $secondary-bg-color;
  border-radius: 10px;
  box-shadow: $box-shadow;

  p {
    color: $primary-bg-color;
    text-align: justify;
    padding: 0 20px;
  }

  img {
    width: 60%;
    margin-bottom: 15px;
    border: 2px solid $primary-bg-color;
    border-radius: 10px;
    @include transition(all, 0.2s);

    &:hover {
      border-color: $accent-color;
    }
  }
}

.extra-content {
  margin-top: 20px;
  padding: 20px;
}

.info-phone {
  display: none;
}

@media (max-width: 768px) {
  .empty {
    width: 0;
  }

  .search-container {
    width: 65%;
  }

  .logo-container {
    width: 35%;

    img {
      width: 75px;
    }
  }

  .navigation {
    margin: 0px 20px 15px;
    padding: 0 20px;
    font-size: 12px;
  }

  .sidebar-info-container {
    display: none;
  }

  .sidebar-nav-container {
    width: 10%;
  }

  .nav {
    height: 540px;
    font-size: 12px;
    margin: 5px 10px;
  }

  .sidebar ul {
    padding: 5px 15px;
  }

  .main-content,
  .extra-content {
    width: 90%;

    img {
      width: 100%;
      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
      padding: 0 10px;
    }
  }

  .info-phone {
    font-size: 10px;
    height: 75px;
    margin: 5px 25px;
    display: block;

    ul {
      display: flex;
      justify-content: center;
      gap: 7px;
    }
  }
}
