* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  color: black;
}

body {
  background-color: aliceblue;
  color: #fff;
}

.empty {
  width: 50%;
}

.logo-container {
  text-align: center;
  width: 25%;
}

.search-container {
  width: 25%;
}

.logo {
  margin: 20px 0;
  width: 100px;
}

.search-bar {
  background-color: #252a4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  margin: 10px 40px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.search-input {
  background-color: inherit;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  color: aliceblue;
}

.btn-search {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #613115;
  border-radius: 5px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.btn-search:hover {
  background-color: #a44b18;
}

.search-icon {
  width: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.navigation {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin: 0px 40px 15px;
  background-color: #252a4f;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.navigation a {
  text-decoration: none;
  color: aliceblue;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.navigation a:hover {
  color: #a44b18;
}

.sidebar-nav-container,
.sidebar-info-container {
  width: 25%;
}

.main-container {
  width: 50%;
}

.sidebar {
  height: 500px;
  background-color: #252a4f;
  border-radius: 10px;
  margin: 5px 40px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.sidebar a {
  text-decoration: none;
  color: aliceblue;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.sidebar a:hover {
  color: #a44b18;
}
.sidebar ul {
  list-style: none;
  padding: 25px 40px;
}
.sidebar ul li {
  margin: 15px 0;
}

.main-content,
.extra-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-top: 5px;
  background-color: #252a4f;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}
.main-content p,
.extra-content p {
  color: aliceblue;
  text-align: justify;
  padding: 0 20px;
}
.main-content img,
.extra-content img {
  width: 60%;
  margin-bottom: 15px;
  border: 2px solid aliceblue;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.main-content img:hover,
.extra-content img:hover {
  border-color: #a44b18;
}

.extra-content {
  margin-top: 20px;
  padding: 20px;
}

.info-phone {
  display: none;
}

@media (max-width: 768px) {
  .empty {
    width: 0;
  }
  .search-container {
    width: 65%;
  }
  .logo-container {
    width: 35%;
  }
  .logo-container img {
    width: 75px;
  }
  .navigation {
    margin: 0px 20px 15px;
    padding: 0 20px;
    font-size: 12px;
  }
  .sidebar-info-container {
    display: none;
  }
  .sidebar-nav-container {
    width: 10%;
  }
  .nav {
    height: 540px;
    font-size: 12px;
    margin: 5px 10px;
  }
  .sidebar ul {
    padding: 5px 15px;
  }
  .main-content,
  .extra-content {
    width: 90%;
  }
  .main-content img,
  .extra-content img {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-content p,
  .extra-content p {
    font-size: 12px;
    padding: 0 10px;
  }
  .info-phone {
    font-size: 10px;
    height: 75px;
    margin: 5px 25px;
    display: block;
  }
  .info-phone ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 7px;
  }
}