* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
  background-color: #f5f5f5;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 50px 40px 50px;
}
header img {
  width: 150px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.btn {
  background-color: #e6e6e6;
  color: #252a4f;
  padding: 15px 100px;
  border-radius: 5px;
  border: 3px solid #252a4f;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn:hover {
  background-color: #252a4f;
  color: #e6e6e6;
  border: 3px solid aliceblue;
}
.btn.register-main {
  padding: 15px 45px;
}

.content-container-1 {
  background-color: #252a4f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.content-container-1 .content-1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 25px;
  margin: 15px 15px 15px 25px;
}
.content-container-1 .content-1 .content-info-1 h1 {
  font-size: 40px;
  font-weight: bold;
  color: aliceblue;
  margin-bottom: 15px;
}
.content-container-1 .content-1 .content-info-1 p {
  font-size: 30px;
  color: rgb(195, 195, 196);
  margin-bottom: 30px;
}
.content-container-1 .content-1 .register-1 {
  background-color: #e6e6e6;
  color: #252a4f;
  padding: 15px 100px;
  border-radius: 5px;
  border: 3px solid #252a4f;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content-container-1 .content-1 .register-1:hover {
  background-color: #252a4f;
  color: #e6e6e6;
  border: 3px solid aliceblue;
}
.content-container-1 .content-image-1 {
  width: 50%;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.content-container-1 .content-image-1 img {
  width: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.content-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content-container-2 .content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  margin: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-container-2 .content-2 .card-2 {
  background-color: #252a4f;
  max-width: 300px;
  height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.content-container-2 .content-2 .card-2 h1 {
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
}
.content-container-2 .content-2 .card-2 p {
  color: rgb(195, 195, 196);
  padding: 12px 0;
}
.content-container-2 .register-2 {
  background-color: #e6e6e6;
  color: #252a4f;
  padding: 15px 100px;
  border-radius: 5px;
  border: 3px solid #252a4f;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content-container-2 .register-2:hover {
  background-color: #252a4f;
  color: #e6e6e6;
  border: 3px solid aliceblue;
}

.content-container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0 0 0;
  padding: 20px 0;
  background-color: #252a4f;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.content-container-3 .header-content-3 {
  font-size: 35px;
  font-weight: bold;
  color: aliceblue;
}
.content-container-3 .content-3 {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  margin: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-container-3 .content-3 .card-3 {
  background-color: #252a4f;
  max-width: 300px;
  height: 200px;
  border-radius: 10px;
  border: 3px solid aliceblue;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.content-container-3 .content-3 .card-3 .number {
  font-size: 100px;
  font-weight: bold;
  color: aliceblue;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  margin-right: 10px;
}
.content-container-3 .content-3 .card-3 .card-3-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 7px;
}
.content-container-3 .content-3 .card-3 .card-3-info h1 {
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
}
.content-container-3 .content-3 .card-3 .card-3-info p {
  color: rgb(195, 195, 196);
}
.content-container-3 .register-3 {
  background-color: #e6e6e6;
  color: #252a4f;
  padding: 15px 100px;
  border-radius: 5px;
  border: 3px solid #252a4f;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content-container-3 .register-3:hover {
  background-color: #252a4f;
  color: #e6e6e6;
  border: 3px solid aliceblue;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  background-color: #f5f5f5;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
footer .footer-logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
footer .footer-logo img {
  width: 100px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
footer .footer-list {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 60px;
}
footer .footer-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
footer .footer-list ul li {
  padding: 10px 0;
}
footer .footer-list ul li a {
  text-decoration: none;
  color: #252a4f;
  font-size: 16px;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
footer .footer-list ul li a:hover {
  color: #e6e6e6;
}

@media (max-width: 768px) {
  header {
    margin-bottom: 20px;
  }
  header img {
    width: 100px;
  }
  .content-container-1 .content-1 .btn {
    padding: 15px 50px;
  }
  .btn.register-main {
    padding: 15px 30px;
  }
  .content-container-1 .content-1 .content-info-1 h1 {
    font-size: 24px;
  }
  .content-container-1 .content-1 .content-info-1 p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .content-container-1 .content-image-1 {
    margin-right: 10px;
  }
  .content-container-1 .content-image-1 img {
    width: 175px;
  }
  .content-container-3 .header-content-3 {
    font-size: 24px;
  }
  footer {
    padding: 15px 30px;
  }
}