* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reddit Sans Condensed", sans-serif;
  font-optical-sizing: auto;
}
body {
  background-color: aliceblue;
}

.search-header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 65px;
  margin: 30px 30px 30px 45px;
}

.search-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  width: 125px;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 80%;
  background-color: #252a4f;
  border-radius: 5px;
  margin-left: 100px;
}

.search-input {
  background-color: inherit;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: aliceblue;
}

.btn-search {
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #4c2813;
  border-radius: 5px;
  transition: all 0.1s;
}

.btn-search:hover {
  background-color: #6d3c1b;
  transition: all 0.1s;
}

.search-icon {
  width: 20px;
  filter: invert(1);
}

.btn-cart {
  padding: 18px 36px;
  border: none;
  cursor: pointer;
  background-color: #252a4f;
  border-radius: 5px;
  transition: all 0.1s;
  font-size: 18px;
  color: aliceblue;
}

.btn-cart:hover {
  background-color: #343b72;
  transition: all 0.1s;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  margin: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  background-color: #252a4f;
  border-radius: 10px;
  margin-left: 15px;
}

nav a {
  margin-bottom: 10px;
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  transition: all 0.1s;
}

nav a:hover {
  color: #773c1b;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 20px;
  background-color: #252a4f;
  border-radius: 5px;
  border: 2px solid #252a4f;
}

.item-img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
  height: 150px;
}

.item-details {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-name {
  font-size: 16px;
  color: aliceblue;
  font-weight: bold;
}

.item-price {
  font-size: 14px;
  color: aliceblue;
}

.btn-buy {
  padding: 10px 25px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: #69371a;
  color: aliceblue;
  border-radius: 5px;
  transition: all 0.1s;
}

.btn-buy:hover {
  background-color: #773c1b;
}

.item-details .btn-buy {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .logo {
    width: 175px;
    margin: 10px;
  }

  .search-header {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 20px;
  }

  .search-bar {
    margin-left: 0;
  }

  .container {
    display: block;
    margin: 10px 50px;
  }

  nav {
    margin: 0px;
    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-around;
  }

  nav a {
    font-size: 14px;
    margin: 0;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .item {
    margin: 10px auto;
  }

  .item-img {
    width: 100%;
    height: 100%;
  }

  .item-details {
    flex-direction: column;
    gap: 10px;
  }

  .item-details .btn-buy {
    margin-left: 0;
  }
}
