* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reddit Sans Condensed", sans-serif;
}
body {
  background-color: #303874;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  border-top: 3px solid #111325;
}
footer section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 5px;
  font-weight: 500;
}
footer section ul {
  list-style: none;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40px 60px 40px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.logo-img {
  width: 200px;
}
.logo-title {
  color: aliceblue;
  font-size: 50px;
}
.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
.card {
  background-color: aliceblue;
  border: 5px solid #111325;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px;
  max-width: 400px;
  max-height: 200px;
}
.card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-info h3 {
  font-size: 24px;
}
.card-info p {
  font-size: 12px;
}
.card-img {
  width: 125px;
  height: 125px;
}
.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.email-container input {
  padding: 10px;
  width: 300px;
  border: 3px solid #111325;
  outline: none;
}
.email-container button {
  padding: 12px;
  background-color: #111325;
  color: aliceblue;
  border: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  main {
    /* margin-bottom: 0px; */
  }
  .logo-img {
    width: 150px;
  }
  .logo-title {
    font-size: 30px;
  }
  .logo-slogan {
    font-size: 18px;
  }
  .card {
    max-height: 150px;
  }
  .card-info {
    gap: 0px;
  }
  .card-img {
    width: 100px;
    height: 100px;
  }
  .card-info h3 {
    font-size: 18px;
  }
  .card-info p {
    font-size: 10px;
  }
  .email-container {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0px;
  }
}
